.gesturebar {
	background: black;
	height: 3rem;
	display: flex
}

.indicator {
	border: 2px solid rgb(90,90,90);
	background-color:black;
	margin: 1.2rem auto 1.2rem auto;
	border-radius: 1rem;
	width:10%;
	max-width:8rem;
	min-width:4rem;
	transition: all 0.2s;
	box-shadow: none;
}

.active .indicator {
	border: 2px solid white;
	background-color:white;
	box-shadow: 0 0 1.2rem 0.1rem white;
}
